
@import "~src/assets/scss/define.scss";
@import "~src/assets/scss/reset.scss";

body {
    background-color: #dddddd;
}

.prompt{
    @extend %tac;
    @extend %c6;
    line-height: 1.8;
    font-size: j(16);
    a{
        text-decoration: underline;
    }
}

i{
    @extend %dib;
    background: url("~src/assets/images/wow.png") center no-repeat;
    background-size: contain;
    width: j(13);
    height: j(13);
    margin: 0 j(3);
}
