
@import "~src/assets/scss/define.scss";
@import "~src/assets/scss/reset.scss";

body {
    background-color: #dddddd;
}

.logo{
    @extend %db;
    @extend %ma;
    padding-top: 100px;
    width: 100px;
}

h1{
    @extend %tac;
    @extend %c3;
    margin-top: 20px;
    font-size: 30px;
}

p{
    @extend %tac;
    @extend %c6;
    font-size: 14px;
    margin-top: 10px;
}

i{
    @extend %db;
    @extend %ma;
    background: url("~src/assets/images/wow.png") center no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}
