
{{extend 'src/layouts/layout.html'}}

{{block 'title'}}template-multi-html{{/block}}

{{block 'content'}}

    {{include 'src/components/header-component/index.html'}}

    <p class="prompt">WOW<i></i>template-multi-html</p>
    <p class="prompt">v1.0.0</p>
    <p class="prompt">
        <a href="https://github.com/Woshiajuana/template-multi-html" target="_blank">GitHub</a>
        <a href="https://ajuan.owulia.com/" target="_blank">Blog</a>
    </p>


    {{include 'src/components/footer-component/index.html'}}

{{/block}}
